<document>
	<catalogTemplate theme="light">
		<banner>
			<title>Home</title>
		</banner>
		<list>
			<section>
				<listItemLockup>
					<title class="scrollTextOnHighlight">Streaming</title>
				</listItemLockup>
				<listItemLockup>
					<title class="scrollTextOnHighlight">Video On Demand</title>
				</listItemLockup>
				<listItemLockup>
					<title class="scrollTextOnHighlight">Audio</title>
				</listItemLockup>
			</section>
		</list>
	</catalogTemplate>
</document>